body
{
	background: no-repeat url("background.png");
	font-family: Arial, "Arial Black", "Times New Roman", Times, serif;
}
header
{
	color: white;
	height: 80px;
	display: flex;
	justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 40px; 
}
.p3
{
	margin-left: 70px;

}
nav ul
{
	margin-right: 50px;
	list-style-type: none;
    display: flex;
}
nav li
{
    margin-right: 20px;
}
hr
{
	width: 90%;
	background-color: gray;
	border-color: gray;
	height: 1px;
}
h1
{
	color: white;
	text-align: center;
	margin-top: 150px;
	margin-bottom: 55px;
	font-size: 45px;
}
.conteneur
{
	width: 70%;
	margin: auto;
	color: gray;
	text-align: center;
	display: flex;
	justify-content: space-between;
    
}
h3
{
	color: white;
	margin-bottom: 10px;
	margin-top: 15px;
}
.ligne_verticale
{
	border-left: 2px solid gray;
    display: inline-block;
    height: 115px;
}
.fa 
{
	color: #4CC18F;
 }
button
{
	width: 170px;
	margin: auto;
	margin-top: 45px;
	height: 38px;
	font-size: 11px;
	border-radius: 20px;
	border: 3px solid #2E8B57;
	background: none;
	color: #2E8B57;
	font-weight: bold;
	display: block;
}