body
{
	background-color: black;
	font-family: Arial, "Arial Black", "Times New Roman", Times, serif;
}
header
{
	color: white;
	height: 80px;
	display: flex;
	justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 40px; 
}
.p3
{
	margin-left: 70px;

}
nav ul
{
	margin-right: 50px;
	list-style-type: none;
    display: flex;
}
nav li
{
    margin-right: 20px;
}
hr
{
	width: 90%;
}
h1
{
	color: white;
	text-align: center;
	margin-top: 150px;
}
.menu
{
	width: 500px;
	margin: auto;
	display: flex;
	color: gray;
	background-color: blue;
	text-align: center;
}
h4
{
	color: white;
}
.ligne_verticale
{
	color: white;
	border-left: 2px solid gray;
    display: inline-block;
    height: 130px;
    margin: 0 20px;
}